@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    3071 Wagon Wheel Street SW<br />
    Los Lunas, NM 87031-3071<br />
    <abbr title="Phone">P:</abbr>
    505.916.0323
</address>

<address>
    <strong>Moral Support:</strong> <a href="mailto:thad@relativeprogress.com">thad@relativeprogress.com</a><br />
    <strong>Just Want to Talk:</strong> <a href="mailto:nickwaye@yahoo.comm">nickwaye@yahoo.com</a>
</address>
